.feature-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100%/6);
  background-color: #feffed;
  padding: 30px;
  padding-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.01);
  border: 1px solid black;
}

.feature-card-container img {
  height: 45px;
  margin-bottom: 5px;
}

.feature-card-container .content {
  text-align: left;
}

.feature-card-container .content h2.title {
  margin-top: 10px;
  font-size: 19px;
  color: rgb(81, 81, 81);
  font-weight: 600;
  padding-bottom: 3px;
  width: fit-content;
}

.feature-card-container .content h3.subtitle {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(81, 81, 81);
  font-weight: 400;
  padding-bottom: 3px;
  width: fit-content;
}